@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/background.png);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
}
.logo {
  width: 80px;
  cursor: pointer;
}
.menu-icon {
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis:75%;
  /* padding-left:200px; */
}
h1 {
  color: #fff;
  font-size: 35px;
}
.rateBtn {
  color: #000;
  font-size: 20px;
}
p {
  color: #fff;
  font-size: 20px;

  /* line-height: 15px; */
}
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}
.card{
  width: 180px;
  height: 180px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 15px;
  box-sizing: border-box;
  cursor:pointer;
  margin: 15px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
 .card1{
  background-image: url(img/640.png);
 }
 .card2{
  background-image: url(img/641.png);
 }
 .card3{
  background-image: url(img/642.png);
 }
 .card4{
  background-image: url(img/643.png);
 }
 .card5{
  background-image: url(img/644.png);
 }
 .card6{
  background-image: url(img/645.png);
 }
 .card7{
  background-image: url(img/646.png);
 }
 .card:hover{
   transform: translateY(-10px);
 }
 h5{
   color: #fff;
   text-shadow: 0 0 5px #999;
   color: rgb(255, 255, 255); /* 设置文字颜色为黑色 */
   opacity: 0.8; /* 设置文字透明度为50% */
   font-size: 20px;
   background-color: #575757;
   float:left;
   padding: 3px;
   border-radius: 5px;
 }
 .card p{
   text-shadow:  0 0 5px #000;
   font-size: 8px;
 }